attrs==19.3.0
boto3==1.10.27
botocore==1.13.27
chalice==1.12.0
chump==1.6.0
Click==7.0
docutils==0.15.2
enum-compat==0.0.3
jmespath==0.9.4
phonenumbers==8.10.23
python-dateutil==2.8.1
pytz==2019.3
s3transfer==0.2.1
six==1.13.0
urllib3==1.26.5
